/* #cv-form{
    display: none;
} */

#cv-template{
    display: none;
}

.myimg{
    /* border:1px solid red; */
    border-radius:25%;
    width:150px;
    height: 150px;
}

.background{
    background-color: aquamarine;
}

@media print{
    .no-print{
        display: none;
    }
}